<% if admin_signed_in? && current_admin.grades %>
<%= render 'admins/dash' %>
<!-- Begin Page Content -->
<div class="container-fluid">
<p>
  <strong>Name:</strong>
  <%= @grade.name %>
</p>
  <!-- Page Heading -->
  <h1>Courses</h1>
  <button id="add__new__list" type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-plus"></i> Create Courses</button>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Class</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @schoolcourses.each do |course| %>
        <tr>
          <td><%= link_to course.name, school_grade_course_path(current_admin.school.id, course.grade, course) %></td>
          <td><%= course.grade.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="card-body text-center">
        <h4 class="card-title">Upload</h4>
      </div>
      <div class=" card col-8 offset-2 my-2 p-3">
        <%= form_with(model: Course.new, remote: true) do |f| %>
        <div class="form-inputs">
            <%= f.label :name %>
            <%= f.text_field :name, required: true, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.hidden_field :grade_id, value: @grade.id %>
        </div>
        <div class="form-actions">
            <%= f.button :submit %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
<%= render 'admins/dashend' %>
<% else %>
  <h1 class="text-center pt-5">You dont have access to the page</h1>
<% end %>
