<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @note.name %>
</p>
<p>
  <strong>File:</strong>
  <a href="<%= @note.file %>" download>Download</a>
</p>
<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
