<%= form_with(model: AssignmentScore.new, remote: true) do |f| %>
  <div class="form-inputs">
    <%= f.label :score %>
    <%= f.text_field :score, required: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.select :student_id, @course.students.all.map {|student| [student.name, student.id] } %>
    <%= f.hidden_field :assignment_id, value: @assignment.id %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
